body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.8rem, 2.5vw, 2rem);
}

h2 {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
}


.background_tiles {
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    z-index: -1;
}

.tile_pink {background-color: rgb(255, 88, 116);}

.tile_black {background-color: rgba(0, 0, 0, 0.973);}

.tile1 {grid-column: 1 / span 2; grid-row: 1 / span 2;}

.tile2 {grid-column: 3 / span 3; grid-row: 1 / span 3;}

.tile3 {grid-column: 1 / span 2; grid-row: 3 / span 3;}

.tile4 {grid-column: 3 / span 3; grid-row: 4 / span 2;}

header {
    background-color: whitesmoke;
    margin: 2rem 2rem 0rem 2rem;
    padding: 1rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.profile-picture {
    width: 50%;
    height: auto;
    max-width: 20rem;
    border-radius: 10%;
}

@media  (min-width: 1024px) {
  .profile-box {
    flex-direction: row;
    text-align: right;
    gap: 2rem;
    margin-bottom: 3rem;
  }
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: clamp(0.9rem, 2.5vw, 1.8rem);
    margin-top: 1rem;

}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}

nav a {
    text-decoration: none;
    color: rgb(116, 75, 75);
    font-weight: bold;
    border-style: dotted;
    border-width: 2px;
    border-color: rgb(255, 88, 116);
    padding: 0.5rem 1rem;
    min-width: 5rem;
}

section {
    background-color: whitesmoke;
    margin: 0rem 2rem 2rem 2rem;
    padding: 1.5rem;
    border-radius: 0 0 10px 10px;
}

